@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "futura";
  src: url("/dist/assets/fonts/futura.ttf");
}
@font-face {
  font-family: "gill";
  src: url("/dist/assets/fonts/gill.ttf");
}

@layer base {
  p,
  span,
  a,
  small {
    font-family: "futura";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    font-family: "futura";
  }
}
